body {
	box-sizing: border-box;
	font-family: Roboto, Arial, sans-serif;
	background-image: url("https://images.unsplash.com/photo-1465588042420-47a53c2d0320?ixlib=rb-0.3.5&s=4f37726abb95672b44fde576c79aed26&auto=format&fit=crop&w=1395&q=80");
	background-size: cover;
	background-position: center no-repeat;
}

.body--active {
	background: #085078;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

html {
	height: 100%;
}

.main {
	max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 18px;
    padding-right: 18px;
}

.row {
	padding-bottom: 80px;
	padding-top: 40px;
}

.main__headline {
	text-align: center;
	color: white;
	font-weight: 200;
	font-size: 4rem;
	margin-top: 85px;
	text-shadow: 2px 2px 0 rgba(0, 0, 0, .1);
}

.input {
	text-align: center;
}

.input--active {
	margin-top: 55px;
}

.userInput {
	margin-bottom: 15px;
	height: 2rem;
	width: 300px;
	font-size: 1.3rem;
	outline: none;
}

.btn {
	text-decoration: none;
	color: white;
	background-color: #f39c12;
	padding: .5rem 1.2rem;
	display: block;
	width: 75px;
	margin-right: auto;
	margin-left: auto;
	font-size: 1.2rem;
}

.btn-random {
	text-decoration: none;
	border: none;
	color: white;
	background-color: #f39c12;
	padding: .5rem 1.2rem;
	display: inline-block;
	width: auto;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	font-size: 1.2rem;
	cursor: pointer;
}

.btn:hover,
.btn-random:hover {
	background-color: #d8890b;
}

.results {
	color: white;
}

.results__output-field {
	transition: all 1s ease-out;
	transform: scale(1);
	opacity: 1;
}

.results__output-field--active {
	transform: scale(1.1);
	opacity: 0;
}

.results__output-field div {
	max-width: 800px;
	border: 3px solid white;
	margin-bottom: 10px;
	padding-left: 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0, 0, 0, .85);
}

.results__output-field div:hover {
	border: 5px solid #f39c12;
}

.results__output-field h4 {
	font-size: 1.4rem;
	font-weight: 300;
}

.results__output-field div p {
	font-weight: 300;
	overflow-x: hidden;
}

.results__output-field a {
	color: #f39c12;
	text-decoration: none;
}

.results__output-field a:hover, active, visited {
	color: #d8890b;
}

@media only screen and (max-width: 1023px) {
	
    .body--active {
		background: #085078;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	}
	.main__headline {font-size: 4rem;}
	
	.input {margin-top: 30px;}
}


@media only screen and (max-width: 767px) {
	
	body {background-position: auto; background-size: auto;}
	
	.body--active {
		background: #085078;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


	}
	.main__headline {font-size: 3rem;}
	
	.input {margin-top: 30px;}
	
	.userInput {width: 250px;}
}
