* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	font-family: Roboto, Arial, sans-serif;
	background-image: url("https://images.unsplash.com/photo-1465588042420-47a53c2d0320?ixlib=rb-0.3.5&s=4f37726abb95672b44fde576c79aed26&auto=format&fit=crop&w=1395&q=80");
	background-size: cover;
	background-position: center no-repeat;
}

.body--active {
	background: #085078;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.header {
	margin-bottom: 4rem;
	background: #0984e3;
	padding: 3rem 0;
}

.title {
	color: #fff;
	text-align: center;
	font-size: 3rem;
	font-weight: 300;
	text-transform: uppercase;
}

.main {
	max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 18px;
    padding-right: 18px;
}

.row {
	padding-bottom: 80px;
	padding-top: 40px;
}

.input {
	text-align: center;
}

.input--active {
	margin-top: 55px;
}

.userInput {
	height: 2rem;
	width: 400px;
	font-size: 1.3rem;
	outline: none;
	display: block;
	margin: 0 auto 1.5rem auto;
	padding: 1.25rem .5rem;
}

.form {
	display: inline-block;
}

.btn {
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	background: #0984e3;
	padding: 1rem 2.5rem;
	display: inline-block;
	border-radius: 6.25rem;
	transition: all .2s;
	position: relative;
	
	/*// change for the <button> element*/
	border: none;
	cursor: pointer;
}

.btn:nth-child(1) {
	margin-left: 1rem;
}

.btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 .625rem 1.25rem rgba(0, 0, 0, .2);
	background: #065ea2;
}

.btn:active,
.btn:focus {
	outline: none;
	transform: translateY(-1px);
	box-shadow: 0 .3rem .625rem rgba(0, 0, 0 .2);
}

.results {
	color: white;
}

.results__output-field {
	transition: all 1s ease-out;
	transform: scale(1);
	opacity: 1;
}

.results__output-field--active {
	transform: scale(1.1);
	opacity: 0;
}

.results__output-field div {
	max-width: 800px;
	border: 3px solid white;
	margin-bottom: 10px;
	padding-left: 10px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgba(0, 0, 0, .85);
}

.results__output-field div:hover {
	border: 5px solid #0984e3;
}

.results__output-field h4 {
	font-size: 1.4rem;
	font-weight: 300;
}

.results__output-field div p {
	font-weight: 300;
	overflow-x: hidden;
}

.results__output-field a {
	color: #f39c12;
	text-decoration: none;
}

.results__output-field a:hover, active, visited {
	color: #d8890b;
}




@media only screen and (max-width: 767px) {
	
	body {background-position: auto; background-size: auto;}
	
	.form {display: block;}
	.btn:nth-child(1) {margin-left: 0; margin-top: 1.5rem;}
	
	.body--active {
		background: #085078;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #85D8CE, #085078);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #85D8CE, #085078); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


	}
	.title {font-size: 2.5rem;}
	
	.input {margin-top: 30px;}
	
	.userInput {width: 300px;}
}
